.ChatPane {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* maybe put this at root level */
  word-break: break-word;
  background: #E8E9F3;
}

.MessageList {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FEFEFE;
}

.Message {
  background: #B1E5F2;
  margin: 1rem;
  white-space: pre-wrap;
}

.MessageInput {
  display: flex;
  /* height: 2em; */

  flex-shrink: 0;
}

.MessageTextInput {
  flex-grow: 1;
}