.ChatPane {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* maybe put this at root level */
  word-break: break-word;
  background: #E8E9F3;
}

.MessageListContainer {
  flex-grow: 1;
  overflow-y: scroll;
  background: #FEFEFE;
}

.Message {
  background: #B1E5F2;
  margin: 1rem;
  white-space: pre-wrap;
  /* allows multi-line messages to be displayed */
}

.MessageComposer {
  display: flex;
  align-items: center;
  /* height: 2em; */

  flex-shrink: 0;
}

.MessageInput {
  flex-grow: 1;
}