/* * {
  outline: 1px solid red;
} */

.SearchResults {
  overflow-y: auto;
}

.Rec .DepartReturnPanes {
  display: flex;
}
.Rec .DepartReturnPanes > .LeftPane {
  width: 50%;
  background: #EEEEEE;
  border: 1px solid black;
}
.Rec .DepartReturnPanes > .RightPane {
  width: 50%;
  background: #EEEEEE;
  border: 1px solid black;
}

.FlightGroup {
  padding: 5px;
}
.FlightGroup .Times {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.FlightGroup .Flights {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 1.5rem;
}
.FlightGroup .Stops {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 1.5rem;
}
.FlightGroup .Layovers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 1.5rem;
}

.FlightCombinations {
  display: flex;
  /* overflow-y: auto; */
}
.FlightCombinations .DeparturesColumn {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.FlightCombinations .ReturnsColumn {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.FlightCombinations * .Selected {
  background: #04A777;
}
.FlightCombinations * .Invalid {
  background: grey;
}


.FlightItem {
  text-align: center;
}
.FlightItem .DepartArrivePanes {
  display: flex;
}
.FlightItem .DepartArrivePanes .Duration {
  text-align: center;
  flex-grow: 0;
  min-width: 5rem;
}
.FlightItem .DepartArrivePanes > .LeftPane {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}
.FlightItem .DepartArrivePanes > .RightPane {
  flex-basis: 0;
  flex-grow: 1;
  text-align: left;
}