/* * {
  outline: 1px solid red;
} */

.SearchResults {
  overflow-y: auto;
}

.DepartReturnPanes {
  display: flex;
}
.DepartReturnPanes > .LeftPane {
  width: 50%;
  background: #EEEEEE;
  border: 1px solid black;
}
.DepartReturnPanes > .RightPane {
  width: 50%;
  background: #EEEEEE;
  border: 1px solid black;
}

.FlightGroup {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}
.FlightGroup .FlightInfo {
  flex-grow: 1;
}
.FlightGroup .FlightInfo > * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 1.5rem;
}

.FlightCombinations {
  display: flex;
  /* overflow-y: auto; */
}
.FlightCombinations .Column {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.FlightCombinations .Selected {
  background: #04A777;
}
.FlightCombinations .Invalid {
  background: grey;
}

.FlightGroupDetail {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 5px;
}
.FlightItem {
  text-align: center;
}
.FlightItem .DepartArrivePanes {
  display: flex;
}
.FlightItem .DepartArrivePanes .Duration {
  text-align: center;
  flex-grow: 0;
  min-width: 5rem;
}
.FlightItem .DepartArrivePanes > .LeftPane {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}
.FlightItem .DepartArrivePanes > .RightPane {
  flex-basis: 0;
  flex-grow: 1;
  text-align: left;
}