.ChatListsPane {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 15rem;
  background: #FFFFFF;
}

.ChatList {
  overflow-y: scroll;
}

.Unread {
  background: #C8963E;
}

.Selected {
  background: #D1462F;
  color: #FFFFFF;
}